/* ----- tooltip ------ */
.tt {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

/* Tooltip text */
.tt .ttt {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tt .ttt::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tt:hover .ttt {
  visibility: visible;
  
}

/* ----- scrollbar ------ */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* ------ button ------*/

.button-wrapper{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
}

.button{
  padding:5px;
  background-color:white;
  z-index: 5;
  color: rgb(0, 163, 238);
  font-size:1.875em;
  margin: 5px;
}

.button-grey{
  padding:5px;
  background-color:grey;
  z-index: 5;
  color: white;
  font-size:1em;
  margin: 5px;
}

/* ------ table ------*/

td, th{
  padding:10px;
}

/* ------ text styling ------*/

body {
  font-family: Arial,sans-serif !important;
}

.section{
    font-size:1.875em;
    font-weight: bold;
    padding: 0.25em .5em;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
    color:white;
    margin:5px;
    width:50%
}

#sidebar #topbar h1{
  font-size: 2.65em;
  color:rgb(0, 163, 238);
  text-shadow: 3px 3px 3px #ababab;
}

a{
    color: rgb(0, 163, 238);
    border-bottom: 1px dotted;
    text-decoration:none;
}

/* ------ other ------ */

.wrapper{
  display: grid;
  grid-template-columns:1fr 4fr;
}

#sidebar{
  background-color:white;
  padding:50px;
  position: sticky;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
}

#topbar{
  display:none;
}

#content{
text-align: left;
margin-top:50px;
margin-bottom:50px;
}

@media only screen and (max-width: 1440px) {

  #content{
    text-align: left;
    margin-top:50px;
    margin-bottom:50px;
    margin-left:25px;
    margin-right:25px;
  }

  .wrapper{
    display: grid;
    grid-template-columns:1fr;
  }

  #sidebar{
    background-color:white;
    display:none;
  }

  #topbar{
    display:block;
    background-color: rgb(0, 163, 238);
    color: white;
    padding:20px;
    text-align: center;
  }

  .links{
    font-size: 1.875em;
  }

  #topbar h1 a{
    color: rgb(255, 255, 255);
    font-size: 2.65em;
  }
}
